* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-family: 'PT Sans', sans-serif;
}

body {
  background-color: #f4eaf0;
}

a {
  color: #666666;
}

.top-nav {
  z-index: 1;
  display: block;
  width: 100%;
  height: 70px;
  position: relative;
  background-color: white;
  border-bottom: 12px solid #993366;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.mobile-menu {
  display: none;
}

.top-nav .left {
  display: flex;
}

#logo {
  width: 260px;
  height: 70px;
}

#logo img {
  width: 260px;
  height: 70px;
}

.top-nav .left .dropMenu {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 24px;
  margin-left: 120px;
  cursor: pointer;
  background-color: #993366;
  color: white;
  font-size: 20px;
}

.top-nav .left .dropMenu:hover {
  background-color: #e7e7e7;
  color: rgb(70, 70, 70);
}

.top-nav .left .dropMenu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
}

.top-nav .left .dropMenu:hover ul {
  display: block;
  background-color: white;
}

.top-nav .left .dropMenu ul li {
  text-align: left;
  background-color: white;
  border-bottom: 1px solid #cccccc;
}

.top-nav .left .dropMenu ul li:hover {
  background-color: #5BB06C;
}

.top-nav .left .dropMenu ul li a {
  display: block;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 18px;
  margin-right: 42px;
  color: #5e5e5e;
}

.top-nav .left .dropMenu ul li a:hover {
  color: white;
}

.top-nav .right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-nav .right img {
  margin-right: 24px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.top-nav .right button {
  margin-right: 40px;
  text-decoration: none;
  font-size: 20px;
}

.lgnButton {
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #5BB06C;
  color: white;
}

.lgnButton a {
  color: white;
  text-decoration: none;
}

.lgnButton:hover {
  background-color: #4b9b5b;
}

#menu2 .lgnButton {
  text-decoration: none;
  background-color: #993366;
}

.username {
  margin-right: 24px;
  font-size: 18px;
  font-weight: 700;
  color: #4b9b5b;
}

.username a {
  text-decoration: none;
  color: #4b9b5b;
}

.crtButton {
  cursor: pointer;
  color: #9b9b9b;
}

.crtButton:hover {
  color: #878787;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin: 150px auto;
  width: 75%;
}

.left-panel {
  flex: 1 28%;
  display: flex;
  margin-right: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right-panel {
  flex: 2 72%;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative;
  padding: 16px 8px;
  
  border-radius: 10px;
  background: white;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.search-bar img {
  position: absolute;
  right: 12px;
  flex: 2 10%;
  height: 24px;
  opacity: 0.2;
}

.search-bar input[type="text"] {
  flex: 1 90%;
  text-align: center;
  font-size: 16px;
}

.search-bar input[type="text"]::placeholder {
  color: #bfbfbf;
}

.top-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  width: 100%;
  padding: 16px 8px;
  
  background-color: white;
  border-radius: 10px;
  border-bottom: 3px solid #9b9b9b;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.top-categories .header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  color: #5BB06C;
  border-bottom: 1px solid #cccccc;
}

.category_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.category_group .subtitle {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 4px;
  font-size: 19px;
  color: #643551;
  border-bottom: 1px solid #cccccc;
}

.category_group .categories {
  margin-left: 20px;
  margin-bottom: 3px;
  text-decoration: none;
  font-weight: 500;
  color: #666666;
}

.category_group .answer {
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  text-decoration: none;
  color: #666666;
}

.category_group .answer img {
  float: left;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  height: auto;
}

.category_group .answer .name {
  text-decoration: none;
  color: #5BB06C;
}

.category_group .answ-color {
  text-decoration: none;
  font-weight: 700;
  color: #4d4d4d;
}

.category_group .answ-color:hover {
  text-decoration: underline;
}

.transparent {
  opacity: 0.5;
}

.transparent:hover {
  opacity: 1;
}

.ask {
  padding: 12px 40px;
  font-size: 20px;
  background-color: #993366;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.ask:hover {
  background: #73264d;
}

.container-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  width: 100%;
  margin-top: 24px;
  background-color: white;

  border-radius: 10px;
  border-bottom: 3px solid #4b9b5b;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.asked a {
  font-size: 30px;
}

.question-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 16px 16px;
}

.question-top {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

}

.question-top img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.question-top .name {
  margin-left: 8px;
}

.question-top .name b {
  font-size: 18px;
  color: #4b9b5b;
}

.question-top .time {
  font-size: 14px;
  position: absolute;
  right: 0px;
}


.question-content {
  width: 100%;
  margin-top: 16px;
  font-size: 16px;
  text-align: justify;
  color: #666666;
}

.answer-form {
  width: 100%;
  margin-top: 15px;
  background-color: #5BB06C;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 16px;
  border-radius: 10px;
}

.answer-form textarea {
  padding: 12px 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
}

.answer-form input[type="submit"] {
  color: white;
  margin-left: 32px;
  padding: 12px 24px;
  background-color: #993366;
  border-radius: 10px;
}

.answer-form input[type="submit"]:hover {
  background-color: #73264d;
}

.question-content a:hover {
  padding-bottom: 15px;
  color: #262626;
}

.question-bottom {
  width: 100%;
  display: flex;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #cccccc;
}

.question-bottom img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  opacity: 0.4;
}

.question-bottom .text {
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  color: #838383;
}

.asked p {
  font-size: 20px;
}

.funda {
  background-color: #993366;
  border-bottom: none;
}

.funda .name, .funda p, .funda .text, .funda .time {
  color: white;
}

.msg {
  display: flex;
}

.dislike {
  display: flex;
  margin-left: 30px;
}

.like {
  display: flex;
  margin-left: 30px;
}

.first {
  margin-left: 0px;
}

.buttons {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.bttn {
  font-size: 16px;
  padding: 8px 12px;
  margin-right: 4px;
  color: grey;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.bttn:hover {
  background-color: #ede2e8;
}

.buttons-left-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  background-color: white;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.buttons-left-right:hover {
  background-color: #ede2e8;
}

.buttons-left-right img {
  width: 17px;
  height: 22px;
  padding: 8px 12px;
}

.right-panel .categories-content {
  width: 100%;
  display: block;
}

.right-panel .categories {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  margin-bottom: 48px;
  padding: 20px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  background-color: #4b9b5b;
  color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.right-panel .title {
  margin-bottom: 24px;
  font-size: 100%;
  color: #643551;
  background-color: white;
  border-bottom: 3px solid #9b9b9b;
}

.popular-content {
  width: 100%;
  display: block;
  margin-top: 24px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.popular-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.popular {
  margin-bottom: 16px;
  padding-bottom: 12px;
  font-size: 25px;
  border-bottom: 6px solid #cccccc;
  color: #4b9b5b;
}

.box-popular {
  align-self: center;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  text-align: center;
  background-color: #993366;
  color: white;
}

.results {
  color: #643551;
}

.popular b {
  color: #4b9b5b;
}

.name-category {
  display: flex;
  padding: 20px;
  margin-top: 24px;
  margin-bottom: 48px;
  border-radius: 10px;
  font-weight: 700;
  background-color: #4b9b5b;
  color: white;
}

footer {
  display: block;
  width: 100%;
  margin-top: 124px;
  padding: 24px 0;
  background-color: #993366;
}

.container-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 24px 48px;
}

.item ul {
  display: grid;
  list-style: none;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.item a {
  display: block;
  display: flex;
  justify-content: center;
  width: 64px;
  height: 64px;
  align-items: center;
  border-radius: 10px;
  background-color: #73264d;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.item a:hover {
  background-color: #993366;
}

.item a img {
  width: 60%;
  height: 60%;
  border-radius: 50%;
}

.item .title {
  margin-bottom: 30px;
  font-size: 29px;
  font-weight: 700;
  color: white;
}

.item .email {
  text-align: left;
}

.item .description {
  width: 350px;
  font-size: 18px;
  color: white;
}

a {
  text-decoration: none;
}

#mobile-dropMenu {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  width: 25%;
  margin: 1% auto 15% auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 24px 24px;
}

.account-form a {
  margin-top: 48px;
  text-decoration: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.account-form a:hover {
  color: #5BB06C;
}

.close-button {
  font-size: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 0;
}

.close-button:hover {
  color: #5BB06C;
}

.form-title {
  display: block;
  width: 100%;
  margin: 24px 0;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  color: #993366;
}

.form-field {
  display: block;
  width: 240px;
  height: 48px;
  margin: 12px 0;
  padding-left: 12px;
  border: none;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 16px;
  font-weight: 700;
  color: #4d4d4d;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.form-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-field:focus {
  border: 2px solid #5BB06C;
}

.form-img {
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.form-button {
  display: block;
  margin-top: 24px;
  margin-bottom: 12px;
  padding: 12px 20px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  background-color: #5BB06C;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.form-button:hover {
  background-color: #4b9b5b;
}

footer {
  display: block;
  width: 100%;
  margin-top: 124px;
  padding: 24px 0;
  background-color: #993366;
}

.container-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 24px 48px;
}

.item ul {
  display: grid;
  list-style: none;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.item a {
  display: block;
  display: flex;
  justify-content: center;
  width: 64px;
  height: 64px;
  align-items: center;
  border-radius: 10px;
  background-color: #73264d;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
}

.item a:hover {
  background-color: #993366;
}

.item a img {
  width: 60%;
  height: 60%;
  border-radius: 50%;
}

.item .title {
  margin-bottom: 30px;
  font-size: 29px;
  font-weight: 700;
  color: white;
}

.item .email {
  text-align: left;
}

.item .description {
  width: 350px;
  font-size: 18px;
  color: white;
}

.add-question {
  width: inherit;
  padding: 16px;
  background-color: #993366;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
}

.question-image {
  height: 40px;
}

.question-image img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  float: left;
  margin-left: 5%;
  border-radius: 10%;
}

.question-image b {
  color: white;
}

select {
  display: block;
  margin: 2% 5%;
  padding: 1%;
  background-color: white;
  border-radius: 10px;
  width: 40%;
  height: 50px;
}

textarea {
  background-color: white;
  resize: none;
  width: 80%;
  height: 200px;
  padding: 2%;
  margin: 5%;
  line-height: 1.5;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  counter-increment: initial;
  font-size: 20px;
}

.submitButton-box {
  display: block;
  flex-direction: column;
  color: white;
}

.submitButton-box #charactersRemaining {
  display: flex;
  margin-left: 5%;
  flex-direction: row;
  WIDTH: 20%;
}

#charactersRemaining+p {
  margin-left: 5%;
}

.submitButton {
  background-color: #5BB06C;
  color: white;
  width: 20%;
  border-radius: 10px;
  align-self: flex-start;
  padding: 1.5%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 5%;
  margin-left: 70%;
  text-size-adjust: 80%;
}

.submitButton:hover {
  background-color: #4b9b5b;
}

.submitButton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* octavian */

.user {
  display: flex;
  flex: auto;
  align-items: flex-start;
  box-sizing: content-box;
  width: 50%;
}

.user-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  flex: auto;
  margin-left: 200px;
}

.badge {
  color: #993366;
}

.user-box #user-foto {
  order: 1;
}

.user-box .username {
  color: #5BB06C;
  font-weight: 900;
  margin-left: 60px;
  margin-top: 10px;
  order: 2;
  font-size: 20px;
  flex: auto;
}

.user-box .contact {
  margin-top: 10px;
  order: 3;
  color: #5BB06C;
  font-size: 20px;
  flex: auto;
}

.user-box .interese {
  margin-top: 10px;
  color: #5BB06C;
  order: 4;
  font-size: 20px;
  flex: auto;
}

.user-box .interese ul li {
  margin-left: 40px;
}

.user-box .premii {
  margin-top: 10px;
  color: #5BB06C;
  order: 5;
  font-size: 20px;
  flex: auto;
}

.user-box .premii .badge {
  position: relative;
  margin-left: 20px;
  font-weight: 700;
}

.interese p {
  color: black;
}

@media screen and (max-width:950px) {
  .top-nav {
    height: 56px;
    position: fixed;
    top: 0;
  }
  .top-nav .left {
    justify-content: space-between;
  }
  .top-nav .right {
    display: none;
  }
  .top-nav .left .dropMenu {
    display: none;
  }
  #logo {
    width: 208px;
    height: 56px;
  }
  #logo img {
    width: 208px;
    height: 56px;
  }
  .mobile-menu {
    display: block;
    margin-right: 24px;
  }
  .mobile-menu button {
    font-size: 40px;
    color: #993366;
  }
  #mobile-dropMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-top: 60px;
    background-color: white;
    display: none;
    flex-direction: column;
  }
  #mobile-dropMenu button {
    padding: 24px;
    width: 100%;
    font-size: 24px;
    text-align: left;
    border: 12px solid #993366;
  }
  #mobile-dropMenu ul {
    display: none;
  }
  #mobile-dropMenu ul li {
    text-align: left;
    background-color: white;
    list-style: none;
    text-decoration: none;
  }
  #mobile-dropMenu ul li a {
    display: block;
    font-size: 18px;
    color: #4b9b5b;
    padding-left: 120px;
    padding-top: 20px;
    font-weight: 700;
  }
  .container {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-panel {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .right-panel {
    margin-left: 0;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
  }
  .ask {
    text-align: center;
    padding: 16px 0;
    width: 100%;
  }
  .search-bar {
    padding: 16px 0;
    width: 100%;
  }
  .top-categories {
    display: none;
  }
  .top-categories {
    display: none;
  }
  .container-footer {
    flex-direction: column;
    align-items: center;
  }
  .item {
    align-items: center;
  }
  .item .description {
    text-align: center;
  }
  .modal-content {
    width: 90%;
    margin: 0 auto;
  }
  .user {
    width: 100%;
  }
}

@media screen and (max-width:1350px) {
  .left-panel {
    flex: 1 40%;
  }
  .right-panel {
    flex: 2 60%;
  }
}